.emoji {
    height: 1.2em;
}

.post-title, .post-title:hover {
    color:#000000;
}

.post-meta {
    color: #9ba1a6;
    font-size: 0.8rem;
    font-weight: bold;
}

.brand-text, .brand-text:hover {
    color:#494e52;
}

.footer {
    .version {
        font-size: 0.8em;
    }
}

.ql-container {
   font-family: "roboto" !important;
 }