.emoji {
    height: 1.2em;
}

.post-title, .post-title:hover {
    color:#494e52;
}

.post-meta {
    color: #9ba1a6;
    font-size: 0.8rem;
    font-weight: bold;
}

.brand-text, .brand-text:hover {
    color:#494e52;
}