include mixins.pug
include utils/admin-navbar.pug
html
    head    
        link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js")  
        script(src="https://cdn.quilljs.com/1.3.6/quill.js")
        script(data-main="js/editor.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js")
        +htmlHeader("Editor")
        style.
            .ql-editor iframe {
                pointer-events: none;
            }    
    body
        +navbar("editor")
        .container.editor-page
            .row#alert-container                  
            .row
                .col
                    h1.mt-3.mb-3 Editor
            .row
                .col
                    input#title.form-control(type="text" placeholder="Title" onchange="editor.setPermalink(this.value)" value= post ? post.title : '')
            .row.justify-content-between.editor-row
                .input-group.col-auto
                    .input-group-prepend
                        .input-group-text Permalink
                    input#permalink.form-control.permalink-input(aria-label="Permalink" onchange="editor.setPermalink(this.value)" value= post ? post.permalink : '')
            .row
                .col
                    #editor(style="height:600px")!= post ? post.entry : ''
            .row.justify-content-end
                .col-auto
                    button.btn.btn-primary(type="button" onclick=`editor.publish(${post ? post.id : -1})`) Publish
    
    script.
        var toolbarOptions = [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                     
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            [{ 'align': [] }],

            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            ['link', 'image', 'video'],
            ['blockquote', 'code-block'],
            ['clean']                                         // remove formatting button
        ];


        var quill = new Quill('#editor', {
            modules: {
                syntax: true,
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
                