include mixins.pug
html
    head
        +htmlHeader("Login")
    body.text-center
        form(method="post").form-login
            h1 Please log in
            label(for="email").sr-only Email address
            input#email(type="email", name="email" placeholder="Email address" required autofocus).form-control
            label(for="password").sr-only Password
            input#password(type="password", name="password" placeholder="Password" required).form-control         
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Log in
        +javascriptLibs

