include mixins.pug
html
    head
        +htmlHeader(post.title)
    body
        include utils/header.pug
        .container-fluid.mt-5
            .container
                .row: .col
                    h2.post-title= post.title
                    p.post-meta.pb-3.border-bottom= post.postDate
                    div!= post.entry
        include utils/footer.pug                 
        +javascriptLibs