include mixins.pug
html
    head
        +htmlHeader(post.title)
    body
        include utils/header.pug
        .container-fluid.mt-5
            .container
                .row: .col
                    h2.post-title= post.title
                    p.post-meta.pb-3.border-bottom= post.postDate
                    div.ql-snow
                        div.ql-editor.post-normalize!= post.entry
                .row: .col
                    div(id="disqus_thread")
        include utils/footer.pug                 
        +javascriptLibs
        script.
            var disqus_config = function () {
                this.page.url = location.href;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '#{post.id}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://mbakturk.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();