include mixins.pug
html
    head
        +stylesheets
    body
        include utils/header.pug
        .container-fluid.mt-4.h-100
            .container
                .row: .col
                    h1.post-title= post.title
                    p.post-meta.pb-3.border-bottom= post.postDate
                    div!= post.entry
        include utils/footer.pug                 
        +javascriptLibs