.container-fluid.pt-3.pb-3.border-bottom.shadow-sm.blog-header
    .container
        .row.no-gutters
            .col-auto: img.rounded-circle(src="avatar.jpg", alt="avatar")
            .col.blog-header-right                              
                .row.no-gutters                               
                    .col
                        .row.no-gutters.blog-header-titles
                            .col: a(href="/"): h3 Mehmet Burak Aktürk
                            .w-100
                            .col: h8 Yazılım Mühendisi / Kişisel blog sitesi
                    .col-lg.blog-header-links
                        a(href="http://github.com"): i.mr-1.fab.fa-github
                        a(href="http://linkedin.com"): i.mr-1.fab.fa-linkedin
