.container-fluid.pt-3.pb-3.border-bottom.shadow-sm.blog-header
    .container
        .row.no-gutters
            .col-auto: img.rounded-circle(src="avatar.jpg", alt="avatar")
            .col.blog-header-right                              
                .row.no-gutters                               
                    .col
                        .row.no-gutters.blog-header-titles
                            .col: a(href="/"): h3 Mehmet Burak Aktürk
                            .w-100
                            .col: h8 Yazılım Mühendisi / Kişisel Blog Sitesi
                    .col-lg.blog-header-links
                        a(href="https://github.com/mbakturk", title="Github" target="_blank"): i.mr-1.fab.fa-github
                        a(href="https://www.linkedin.com/in/mehmet-burak-aktürk-14115a35" title="Linkedin" target="_blank"): i.mr-1.fab.fa-linkedin
                        a(href="https://mbakturk.com/rss" title="RSS" target="_blank"): i.mr-1.fas.fa-rss
